<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-1014">
    <div class="cs-container">
        <div class="cs-left-section">
            <h2 class="cs-title">Looking to enhance your brand's visibility? Connect with me today!</h2>
            <a href="tel:1-780-885-2698" class="cs-button-solid">Send A Message</a>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brochures.webp" alt="breakfast" width="275" height="132">
        </picture>
    </div>
</section>