<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-105">
    <div class="cs-container">
        <ul class="cs-ul">
            {% set navPages = collections.all | eleventyNavigation %}
            {% for entry in navPages %}
                <li class="cs-li">
                    <a href="{{ entry.link }}" class="cs-link">{{ entry.key }}</a>
                </li>
            {% endfor %}
            <li class="cs-li">
                <a href="mailto:benjielindo@gmail.com" class="cs-link">benjielindo@gmail.com
                </a>
            </li>
        </ul>
        <div class="cs-bottom">
            <span class="cs-copyright">Copyright © 2024 BHL Marketing Initiatives Corporation</span>
            <a class="cs-social-link" aria-label="visit facebook profile" href="https://www.facebook.com/profile.php?id=61550341267983">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/Facebook.svg" alt="facebook" width="6" height="11">
            </a>
        </div>
    </div>
</footer>
                                