---
title: "About | Benjie Lindo Live"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: 'about/'
eleventyNavigation:
    key: 'About'
    order: '200'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1014">
    <div class="cs-container">
        <span class="cs-int-title">Know more about Benjie</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
        <img decoding="async" src="{{ client.domain }}/assets/images/brochures.webp" alt="breakfast" width="1920" height="1000">
    </picture>
</div>   

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1014">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brochures.webp" alt="breakfast" width="522" height="581" aria-hidden="true">
            </picture>

        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <h2 class="cs-title">About Benjie</h2>
            <p class="cs-text">
                Benjie Lindo is the Founder and President of Yakap Alberta Foundation, where he is dedicated to supporting newcomers and driving community initiatives in Alberta. He also serves on the Board of Nasipitnon in Edmonton, reflecting his commitment to creating positive change.
            </p>
            <p class="cs-text">
                With extensive experience in Marketing Solutions, Benjie helps businesses grow through tailored brand strategies, targeted social media campaigns, and expert consulting. He specializes in digital marketing, offering workshops and webinars that provide actionable insights for startups and businesses looking to expand their reach and boost sales.
            </p>
            <p class="cs-text">
                Since 2013, Benjie has been deeply involved in charitable efforts, including GoFundMe campaigns and his “Adopt a Child” program, which has provided education for 50 students in the Philippines.
            </p>
            <p class="cs-text">
                Benjie’s work empowers businesses to improve their marketing strategies and helps individuals in the community lead successful, fulfilling lives. Whether you’re looking to grow your brand or make a difference in your community, Benjie offers the expertise and resources to help you succeed.
            </p>               
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--         Vision, Mission, Core Values         -->
<!-- ============================================ -->

<section id="services-2175">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">
                        Our Vision
                    </h3>
                    <p class="cs-item-text">
                        To be a leading force in digital marketing and community development, helping businesses thrive while fostering a more inclusive and compassionate society where every individual has the opportunity to succeed.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">
                        Our Mission
                    </h3>
                    <p class="cs-item-text">
                        To empower businesses and communities by providing expert marketing solutions and championing initiatives that support newcomers and underprivileged individuals, creating opportunities for growth and success.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">
                        Core Values
                    </h3>
                    <p class="cs-item-text">
                        Integrity: Honesty in all our efforts. Empowerment: Supporting growth and success. Community: Building strong, inclusive connections. Compassion: Giving back and making a difference.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                Other Services                -->
<!-- ============================================ -->

<section id="sbsr-1309" class="cs-section-breaker">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-desc">Reach Out to Kuya Benjie</span>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/benjie-kitchen.webp">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/benjie-kitchen.webp"">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/benjie-kitchen.webp"" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">How Can We Help</span>
            <h2 class="cs-title">Other Services</h2>
            <p class="cs-text"><strong>Sasakyang Hanap Mo / Cash Back</strong> - Toyota, Subaru, Honda, Hyundai, Jeep, Ford</p>
            <p class="cs-text"><strong> Website Design for Small Businesses</strong>  – Custom-built with a blog, logo, and full brand identity. Refer a brand or a business and get $100!
                <br>
                    <strong>Call 780-885-2698 </strong>for details</p>
              
        </div>
    </div>
</section>

          
{% include "components/cta.html" %}
                                

{% endblock %}