---
title: "Latest Events | Benjie Lindo Live"
description: "The classic CodeStitch blog, controlled by Decap CMS. Lists all blog posts and provides an option to 'feature' posts to a sidebar"
permalink: 'blog/'
eleventyNavigation:
    key: 'Events'
    order: '500'
---
{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Landing                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Blog</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
            <img aria-hidden="true" decoding="async" src="{{ client.domain }}/assets/images/brochures.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div id="three-cards" class="blog-container main-content-wrapper blog-homepage">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                 Blog Articles                -->
            <!-- ============================================ -->

            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
                {%- for post in collections.post | reverse -%}
                    <article class="cs-item">
                        <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ post.data.image }}" />
                        <source media="(min-width: 601px)" srcset="{{ post.data.image }}" />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="{{ post.data.image }}"
                            alt="{{ post.data.title }}"
                            width="334"
                            height="380"
                        />
                        </picture>
                        <div class="cs-info">
                        <h3 class="cs-h3">{{ post.data.title }}</h3>
                        <span class="cs-desc">{{ post.data.description }}</span>
                        <a href="{{ post.url }}" class="cs-button-solid">
                            Check our blog
                            <span class="arrow-wrapper">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="M18 8L22 12L18 16" />
                                <path d="M2 12H22" />
                            </svg>
                            </span>
                        </a>
                        </div>
                    </article>
                {%- endfor -%}
            {% endif %}
        </div>

        {% include 'components/featured-post.html' %}
    </div>
{% endblock %}
