---
title: "Recommended Brands | Benjie Lindo Live"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: 'brands/'
eleventyNavigation:
    key: 'Brands'
    order: '400'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1014">
    <div class="cs-container">
        <span class="cs-int-title">About Stitch Restaurant</span>
        <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Ftable.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Ftable.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Ftable.jpg" alt="breakfast" width="1920" height="1000">
    </picture>
</div>   

<!-- ============================================ -->
<!--                   Brands                    -->
<!-- ============================================ -->

<section id="gallery-45">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Explore</span>
            <h2 class="cs-title">Brand Partners</h2>
            <p class="cs-text">
                Reach more customers and grow your brand with targeted advertising that delivers impact.
            </p>
        </div>
        <ul class="cs-image-group">
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/mnh-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/mnh-logo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/mnh-logo.webp" alt="MNH" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp" alt="Beyon Vision" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp" alt="Maya Dental Logo" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/experior.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/experior.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/experior.webp" alt="Experior" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp" alt="Deep Sleep" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp" alt="Inifinte Graphics" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/umac-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/umac-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/umac-logo.webp" alt="UMAC" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/maxwell-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/maxwell-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/maxwell-logo.webp" alt="Maxwell" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp" alt="Campbell College" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/goCanada-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/goCanada-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/goCanada-logo.webp" alt="GoCanada" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp" alt="MK Car" width="346" height="346">
                    </picture>
                </a>
            </li>
        </ul>
        <a href="tel:1-780-885-2698" class="cs-button-solid">Call Kuya Benjie Now</a>
    </div>
</section>      
                          
{% include "components/cta.html" %}

{% endblock %}