---
title: "Portfolio | Benjie Lindo Live"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: 'portfolio/'
eleventyNavigation:
    key: 'Portfolio'
    order: '400'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1014">
    <div class="cs-container">
        <span class="cs-int-title">Portfolio</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
        <img decoding="async" src="{{ client.domain }}/assets/images/brochures.webp" alt="breakfast" width="1920" height="1000">
    </picture>
</div>  

    <!-- ============================================ -->
    <!--                  Promotions                  -->
    <!-- ============================================ -->

    <section id="gallery-380">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Get To Know</span>
                <h2 class="cs-title">Benjie's Current Promotions</h2>
            </div>
            <div class="cs-gallery">
                <a class="cs-item" href="{{ client.domain }}/assets/images/promotions/cdi-college-promo.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/cdi-college-promo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/cdi-college-promo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/cdi-college-promo.webp" alt="cdi college" width="305" height="400">
                    </picture>
                </a>
                <a class="cs-item" href="{{ client.domain }}/assets/images/promotions/loan-promo.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/loan-promo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/loan-promo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/loan-promo.webp" alt="loan promo" width="305" height="400">
                    </picture>
                </a>
                <a class="cs-item" href="{{ client.domain }}/assets/images/promotions/mnh-promo.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/mnh-promo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/mnh-promo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/mnh-promo.webp" alt="mnh" width="305" height="400">
                    </picture>
                </a>
                <a class="cs-item" href="{{ client.domain }}/assets/images/promotions/deep-sleep-promo.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/deep-sleep-promo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/deep-sleep-promo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/deep-sleep-promo.webp" alt="deep sleep" width="305" height="400">
                    </picture>
                </a>
                <a class="cs-item" href="{{ client.domain }}/assets/images/promotions/medical-supplies.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/medical-supplies.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/medical-supplies.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/medical-supplies.webp" alt="gallery" width="305" height="400">
                    </picture>
                </a>
                <a class="cs-item" href="{{ client.domain }}/assets/images/promotions/telus-promo.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/telus-promo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/telus-promo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/telus-promo.webp" alt="gallery" width="305" height="400">
                    </picture>
                </a>
                <a class="cs-item" href="/assets/images/promotions/mtg-heathcare-academy.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="/assets/images/promotions/mtg-heathcare-academy.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/promotions/mtg-heathcare-academy.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/promotions/mtg-heathcare-academy.webp" alt="gallery" width="305" height="400">
                    </picture>
                </a>
                <a class="cs-item" href="/assets/images/promotions/prairie-western-college.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="/assets/images/promotions/prairie-western-college.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/promotions/prairie-western-college.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/promotions/prairie-western-college.webp" alt="gallery" width="305" height="400">
                    </picture>
                </a>
                
            </div>
            <a href="tel:1-780-885-2698"" class="cs-button-solid">Avail These Promos Now</a>
        </div>
    </section>        

<!-- ============================================ -->
<!--                   Brands                    -->
<!-- ============================================ -->

<section id="gallery-45">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Explore</span>
            <h2 class="cs-title">Brand Partners</h2>
            <p class="cs-text">
                Benjie Lindo has driven impactful growth for brands through strategic marketing, targeted advertising, and community engagement. His results-focused approach strengthens brand visibility and builds loyalty.
            </p>
            <p class="cs-text">
                Explore his portfolio to see successful campaigns and partnerships.
            </p>
        </div>
        <ul class="cs-image-group">
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/mnh-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/mnh-logo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/mnh-logo.webp" alt="MNH" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp" alt="Beyon Vision" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp" alt="Maya Dental Logo" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/experior.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/experior.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/experior.webp" alt="Experior" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp" alt="Deep Sleep" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp" alt="Inifinte Graphics" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/umac-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/umac-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/umac-logo.webp" alt="UMAC" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/maxwell-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/maxwell-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/maxwell-logo.webp" alt="Maxwell" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp" alt="Campbell College" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/goCanada-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/goCanada-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/goCanada-logo.webp" alt="GoCanada" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp" alt="MK Car" width="346" height="346">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="tel:1-780-885-2698">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/bespoke_logo.png">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/bespoke_logo.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/bespoke_logo.png" alt="BEspoke Web Design" width="346" height="346">
                    </picture>
                </a>
            </li>
        </ul>
        <a href="tel:1-780-885-2698" class="cs-button-solid">Call Kuya Benjie Now</a>
    </div>
</section>      
                          
{% include "components/cta.html" %}

{% endblock %}