---
title: "Services | Benjie Lindo Live"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: 'services/'
eleventyNavigation:
    key: 'Services'
    order: '300'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1014">
    <div class="cs-container">
        <span class="cs-int-title">Your Trusted Experts in Digital Promotion and Strategy</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
        <img decoding="async" src="{{ client.domain }}/assets/images/brochures.webp" alt="breakfast" width="1920" height="1000">
    </picture>
</div>   

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1131">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">Empowering You to Overcome Digital Challenges and Grow Your Brand</h2>
            <p class="cs-text">
                With a focus on innovative digital strategies, we provide the tools and guidance to elevate your brand, engage your audience, and achieve impactful results in today’s competitive online landscape.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity4.svg" alt="icon" width="48" height="48">
                    <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-shape.svg" alt="graphic" width="100" height="103">
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Public Services</h3>
                    <p class="cs-item-text">
						As the Founder and President of Yakap Alberta Foundation, Benjie has dedicated his leadership to empowering communities and fostering a spirit of collaboration. Through initiatives aimed at supporting vulnerable groups and promoting unity, Yakap Alberta Foundation has become a beacon of hope and service. Benjie also serves as a Board Member for Nasipitnon in Edmonton, where he continues his advocacy for cultural preservation and community enrichment. His public service reflects a deep commitment to creating positive, lasting change.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity5.svg" alt="icon" width="48" height="48">
                    <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-shape.svg" alt="graphic" width="100" height="103">
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Marketing Solutions</h3>
                    <p class="cs-item-text">
						Kuya Benjie is trusted by well-known brands in Canada to promote their products and services, leveraging his influence to drive results. He can apply this same expertise to help boost your business with proven marketing strategies, impactful brand campaigns, and tailored solutions that connect with your target audience. Whether you need to grow your online presence or improve sales, Kuya Benjie has the tools and experience to make it happen.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity6.svg" alt="icon" width="48" height="48">
                    <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-shape.svg" alt="graphic" width="100" height="103">
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">Consulting</h3>
                    <p class="cs-item-text">
						Whether you’re launching a start-up or running an established business, Kuya Benjie offers expert consultation to take your marketing, sales, and overall business strategy to the next level. With a hands-on approach tailored to your unique challenges and goals, Benjie delivers actionable advice and proven strategies to help you grow your brand, boost sales, and streamline operations. His entrepreneurial experience and marketing expertise ensure you’re equipped with the insights and tools needed to thrive in today’s competitive landscape.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity7.svg" alt="icon" width="48" height="48">
                    <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-shape.svg" alt="graphic" width="100" height="103">
                </div>
                <div class="csflex">
                    <h3 class="cs-h3">Workshop</h3>
                    <p class="cs-item-text">
						Kuya Benjie conducts engaging Workshops & Webinars designed to help, guide, and empower businesses and individuals. Whether you're just starting out or looking to grow, his sessions provide practical tips and strategies to boost your knowledge and confidence. From building a strong foundation for your business to mastering digital marketing, Kuya Benjie’s workshops are all about giving you the tools you need to succeed and thrive in today’s fast-paced world.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
                       
<!-- ============================================ -->
<!--                Other Services                -->
<!-- ============================================ -->

<section id="sbsr-1309" class="cs-section-breaker">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-desc">Reach Out to Kuya Benjie</span>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/benjie-kitchen.webp">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/benjie-kitchen.webp"">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/benjie-kitchen.webp"" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">How Can We Help</span>
            <h2 class="cs-title">Other Services</h2>
            <p class="cs-text"><strong>Sasakyang Hanap Mo / Cash Back</strong> - Toyota, Subaru, Honda, Hyundai, Jeep, Ford</p>
            <p class="cs-text"><strong>Home / Car / Business Insurance</strong> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
            <p class="cs-text"><strong>Fly Now Pay Later</strong> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
            <p class="cs-text"><strong>Family / Business Lawyer</strong> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
            <p class="cs-text"><strong>Car Mechanic</strong> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
            <p class="cs-text"><strong>Event Catering Services</strong> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
            <p class="cs-text"><strong>DJ, Videographer / Photographer</strong> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="tel:1-780-885-2698">Need With These Services? Call Now!</a>
            
        </div>
    </div>
</section>
          
{% include "components/cta.html" %}
                                

{% endblock %}