/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1299 {
        /* 150px - 350px */
        padding: clamp(9rem, 30.95vw, 21.875rem) (16/16rem);
        padding-bottom: 0;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            position: relative;
            z-index: 10;
        }

        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: (4/16rem);
            display: block;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            width: 100%;
            max-width: 17ch;
            margin: 0 0 (16/16rem);
            color: var(--headerColor);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 2.5vw, 1.25rem);
            line-height: 1.5em;
            width: 100%;
            max-width: (700/16rem);
            /* 28px - 40px */
            margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            text-align: center;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            width: (180/16rem);
            text-decoration: none;
            font-weight: 700;
            /* clips corners of the before element */
            overflow: hidden;
            margin: 0;
            color: #1a1a1a;
            padding: 0;
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 100%;
            /* 427px - 468px */
            max-width: clamp(26.6875rem, 50vw, 29.25rem);
            height: auto;
            display: flex;
            align-items: flex-end;
            position: relative;
            z-index: 7;

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: (1280/16rem);
            /* changes to -550px at tablet */
            margin: 0 0 (-450/16rem) 0;
            padding: 0 (16/16rem);
            /* prevents padding and border from affecting height and width */
            background-color: #fff;
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            position: relative;
            z-index: 15;
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
            box-sizing: border-box;
            grid-column: span 12;
            transition:
                background-color 0.3s,
                border-color 0.3s;

            &:last-of-type {
                border-bottom: none;
            }
        }

        .cs-link {
            text-decoration: none;
            /* 24px - 60px top & Bottom */
            /* 24px - 16px top & Bottom */
            padding: clamp(1.5rem, 5.3vw, 3.75rem) clamp(1rem, 2.7vw, 2.5rem);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-icon {
            /* 32px - 40px */
            height: clamp(2rem, 4vw, 2.5rem);
            width: auto;
            margin: 0 0 (16/16rem) 0;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            font-weight: 700;
            text-align: inherit;
            line-height: 1.2em;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition:
                color 0.3s,
                opacity 0.3s;
        }

        .cs-floater-wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-floater {
            width: (1090/16rem);
            height: auto;
            opacity: 0.1;
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #fff;
                opacity: 0.84;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1299 {
        padding-bottom: (150/16rem);
        padding-top: 24rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* 50px - 90px */
        gap: clamp(3.125rem, 10vw, 5.625rem);

        .cs-container {
            justify-content: flex-end;
            flex-direction: row;
        }

        .cs-content {
            text-align: left;
            width: 60%;
            align-items: flex-start;
        }

        .cs-picture-wrapper {
            width: 100%;
            max-width: (1280/16rem);
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-picture {
            width: 56%;
            /* 50px - 170px */
            margin-right: clamp(3.125rem, 12vw, 10.625rem);
            position: absolute;
            bottom: 0;
            right: 50%;
            z-index: 10;
        }

        .cs-card-group {
            /* changes to -300px at tablet */
            margin: 0 0 (-550/16rem) 0;
        }

        .cs-item {
            grid-column: span 6;

            &:nth-of-type(3) {
                border-bottom: none;
            }
        }

        .cs-floater-wrapper {
            display: block;
        }

        .cs-background {
            overflow: hidden;

            &:before {
                opacity: 1;
                background: linear-gradient(
                    270deg,
                    rgba(255, 255, 255, 0.96) 47.66%,
                    rgba(255, 255, 255, 0) 71.43%
                );
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-1299 {
        .cs-card-group {
            margin: 0 0 (-300/16rem) 0;
            padding: 0;
        }

        .cs-item {
            grid-column: span 3;
            border-bottom: 0;
            border-right: 1px solid #e8e8e8;

            &:hover {
                background-color: #1a1a1a;
                border-color: #1a1a1a;

                .cs-h3,
                .cs-item-text {
                    color: var(--bodyTextColorWhite);
                }

                .cs-item-text {
                    opacity: 0.8;
                }
            }

            &:last-of-type {
                border: none;
            }
        }

        .cs-floater {
            left: 40%;
            right: auto;
            top: auto;
            bottom: 0;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-1299 {
        .cs-picture {
            bottom: (160/16rem);
        }
    }
}

/* Larger Desktop - 1600px (Parallax Effect) */
@media only screen and (min-width: 100rem) {
    #hero-1299 {
        .cs-background {
            background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-reversed2.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;

            img {
                display: none;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-1299 {
            background-color: rgba(0, 0, 0, 0.8);

            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                color: var(--bodyTextColorWhite);
                opacity: 0.9;
            }

            .cs-card-group {
                background-color: var(--dark);
            }

            .cs-item {
                border-color: rgba(255, 255, 255, 0.1);
                &:hover {
                    background-color: rgba(0, 0, 0, 0.6);
                    border-color: rgba(0, 0, 0, 0.6);
                }
            }

            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item-text {
                opacity: 0.8;
            }

            .cs-background {
                opacity: 0.15;

                &:before {
                    opacity: 0.5;
                    background: #000;
                }
            }
        }
    }
}

/* Dark Mode Tablet and Up Only */
@media only screen and (min-width: 48rem) {
    body.dark-mode {
        #hero-1299 {
            .cs-background {
                opacity: 0.15;

                &:before {
                    opacity: 0.8;
                    background: linear-gradient(
                        89deg,
                        rgba(0, 0, 0, 1) 30%,
                        rgba(0, 0, 0, 0) 100%
                    );
                }
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-523 {
        padding: var(--sectionPadding);
        padding-top: 31rem;

        @keyframes floatAnimation {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-0.6em);
            }
            100% {
                transform: translateY(0);
            }
        }

        @keyframes floatAnimation2 {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-1em);
            }
            100% {
                transform: translateY(0);
            }
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-color {
            color: var(--secondary);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-image-group {
            /* this is how we can scale entire groups using ems.  Font size is tied to the view width, so as the screen gets bigger, so does the font size, and this scales up and down the elements with em values.  Then it stops growing once the font size reaches the defined value of 1em (16px which is default on the html element). Font size changes at desktop */
            font-size: ~"min(2.3vw, .875em)";
            /* all values are done in ems, not rems, so we can scale the group with a font size min/max equation */
            width: (630/16em);
            height: (817/16em);
            /* pushes it to the top in the first position */
            order: -1;
            position: relative;

            &:before {
                content: "";
                width: (186/16em);
                height: (161/16em);
                background: var(--primary);
                opacity: 1;
                display: block;
                position: absolute;
                top: (0/16em);
                left: (0/16em);
                animation-name: floatAnimation;
                animation-duration: 6s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }
        }

        .cs-picture {
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                /* makes it act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture-large {
            width: (476/16em);
            height: (677/16em);
            top: (70/16em);
            left: (62/16em);
        }

        .cs-picture-small {
            width: (260/16em);
            height: (225/16em);
            background-color: #fff;
            border: (10/16em) solid #fff;
            right: 0;
            bottom: 0;
            animation-name: floatAnimation2;
            animation-duration: 20s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-523 {

        padding-top: 13rem;

        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            width: 51%;
            max-width: (550/16rem);
        }

        .cs-image-group {
            font-size: ~"min(1.1vw, 1em)";
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-523 {
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-image-group {
                &:before {
                    background-color: var(--secondary);
                    opacity: 0.3;
                }
            }

            .cs-picture-small {
                border-color: var(--dark);
            }
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1309 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: clamp(3rem, 4vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-image-group {
            width: 100%;
            max-width: (670/16rem);
            height: 100vw;
            max-height: (630/16rem);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            /* big background image */
            width: 93%;
            height: 93%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-box {
            text-align: left;
            width: 70%;
            max-width: (304/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 20px - 40px */
            padding: clamp(1.25rem, 4vw, 2.5rem);
            background-color: #1a1a1a;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: (8/16rem);
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 10;
        }

        .cs-desc {
            /* 16px - 31px */
            font-size: clamp(1rem, 2.5vw, 1.9375rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            width: 100%;
            color: var(--bodyTextColorWhite);
            position: relative;
            z-index: 10;
        }

        .cs-graphic {
            width: 150%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1309 {
        .cs-container {
            max-width: (1280/16rem);
            /* set to horizontal arrangement */
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 48%;
            padding: (48/16rem) 0;
            align-self: center;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-image-group {
            width: 55%;
            max-width: (670/16rem);
            height: auto;
            max-height: 100%;
            min-height: (670/16rem);
            margin: 0;
            /* sends it to the right in the second position */
            order: 2;
        }

        .cs-picture {
            width: 93%;
            height: 94%;
            right: 0;
            left: auto;
        }

        .cs-box {
            right: auto;
            bottom: (0/16rem);
            left: 0;
        }

        .cs-graphic {
            max-width: (715/16rem);
            right: (130/16rem);
            left: auto;
            transform: translateY(-50%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbsr-1309 {
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                color: var(--secondaryLight);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-box {
                background-color: var(--medium);
            }
        }
    }
}


/*-- -------------------------- -->
<---        Promotions          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-1648 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            /* breaks up the contents so they are no longer considered children of the parent and can now be flexboxed and positioned relatrive to the cs-container so we can place the button at the bototm of the section */
            display: contents;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
            margin: 0;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
            white-space: nowrap;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: (8/16rem);
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            order: 3;
        }

        .cs-gallery {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        }

        .cs-link {
            height: (280/16rem);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &:hover {
                .cs-image {
                    &:before {
                        opacity: .5
                    }
                }

                .cs-link-icon {
                    opacity: 1;
                    transform: translateY(0) rotateY(0);
                }
            }
        }

        .cs-image {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 2;
                transition: opacity .3s;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }

        .cs-link-icon {
            opacity: 0;
            position: relative;
            z-index: 10;
            transform: translateY(1.5rem) rotateY(90deg);
            transition: opacity .3s, transform .5s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-1648 {
        .cs-content {
            text-align: left;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }

        .cs-gallery {
            grid-template-columns: repeat(12, 1fr);
        }

        .cs-link {
            width: 100%;
            /* 240px - 400px */
            height: clamp(15rem, 30vw, 25rem);
            aspect-ratio: auto;
            grid-column: span 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-1648 {
            .cs-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---          Brands            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-45 {
        padding: var(--sectionPadding);
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;
    }
    #gallery-45 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #gallery-45 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #gallery-45 .cs-image-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 16px - 20px */
        gap: clamp(1rem, 1.5vw, 1.25rem);
    }
    #gallery-45 .cs-item {
        list-style: none;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        margin: 0;
        position: relative;
        display: block;
        background-color: #0067FF70;
        padding: 1rem;
    }
    #gallery-45 .cs-item:hover .cs-hover-box {
        opacity: 1;
    }
    #gallery-45 .cs-item:hover .cs-icon {
        /* return to original position */
        transform: rotateY(0);
    }
    #gallery-45 .cs-item:hover .cs-h3 {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-45 .cs-item:hover .cs-hover-box-text {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-45 .cs-picture {
        margin: auto;
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }
    #gallery-45 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    #gallery-45 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #gallery-45 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #gallery-45 .cs-button-solid:hover:before {
        width: 100%;
    }
    #gallery-45 .cs-image-group {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
    }
    #gallery-45 .cs-item {
        grid-column: span 6;
    }
}
/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
    
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-45 .cs-item {
        grid-column: span 2;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #gallery-45 .cs-title,
    body.dark-mode #gallery-45 .cs-text {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #gallery-45 .cs-text {
        opacity: 0.8;
    }
}


                                