/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/poppins-v21-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-300italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: url('../assets/fonts/poppins-v21-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/poppins-v21-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/poppins-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url('../assets/fonts/poppins-v21-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/poppins-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: url('../assets/fonts/poppins-v21-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('../assets/fonts/poppins-v21-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


/*-- -------------------------- -->
<---         Core Styles        -->
<--- -------------------------- -*/
@media only screen and (min-width: 0rem) {
    // CS-TODO: Adjust core styles to your liking. It may also be worth adding additional fonts for the header and changing the body font below.
    // This kit has also removed all instances of .cs-button outside of the root sheet, meaning you can change for any of the content flair buttons in one place.
    :root {
        /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
        --primary: #0067FF;
        --primaryLight: #0067FF;
        --secondary: #FF0000;
        --secondaryLight: #FF0000;
        --headerColor: #1a1a1a;
        --bodyTextColor: #4e4b66;
        --bodyTextColorWhite: #fafbfc;
        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;
        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

        --bodyFontFamily: Poppins, Helvetica, sans-serif;
    }

    body {
        font-family: var(--bodyFontFamily);
        margin: 0;
        padding: 0;
    }

    *,
    *:before,
    *:after {
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
    }
    .cs-section-breaker{
        background-color:  #0067FF20;
    }
    .cs-topper {
        font-size: var(--topperFontSize);
        font-weight: 700;
        line-height: 1.2em;
        text-align: inherit;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 0.25rem;
        color: var(--primary);
        display: block;
    }

    .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }

    .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }

    .cs-button-solid {
        font-size: (16/16rem);
        font-weight: 700;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-align: center;
        text-decoration: none;
        min-width: (150/16rem);
        margin: 0;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        padding: 0 (24/16rem);
        color: #ffffff;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: color 0.3s;

        &:before {
            content: "";
            width: 0%;
            height: 100%;
            background: #000;
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: width 0.3s;
        }

        &:hover {
            color: #fff;
            &:before {
                width: 100%;
            }
        }
    }
}

/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #dark-mode-toggle {
            .cs-sun {
                transform: translate(-50%, -50%);
                opacity: 1;
            }

            .cs-moon {
                transform: translate(-50%, -150%);
                opacity: 0;
            }
        }
    }

    #dark-mode-toggle {
        display: block;
        position: absolute;
        top: 50%;
        width: (48/16rem);
        height: (48/16rem);
        background: transparent;
        border: none;
        overflow: hidden;
        padding: 0;
        z-index: 1000;

        img,
        svg {
            //center image inside button
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: (20/16rem);
            height: (20/16rem);
            pointer-events: none;
        }

        .cs-moon {
            z-index: 2;
            // Transition properties
            transition:
                transform 0.3s,
                opacity 0.3s;
            fill: #fff;
        }

        .cs-sun {
            z-index: 1;
            // Transition property
            transform: translate(-50%, 100%);
            opacity: 0;
            transition:
                transform 0.3s,
                opacity 0.3s;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #dark-mode-toggle {
        position: relative;
        transform: none;
        top: auto;
        right: auto;
        margin: 0;

        &:hover {
            cursor: pointer;
        }
    }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
    /* reset margin and padding so there's no gap between the nav and the screen edges */
    margin: 0;
    padding: 0;
}

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body {
        &.cs-open {
            overflow: hidden;
        }
    }

    #cs-navigation {
        width: 100%;
        padding: (12/16rem) (16/16rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: #ffffff;
        position: fixed;
        z-index: 10000;

        &:before {
            /* black blurred overlay */
            content: "";
            width: 0%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.6);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            opacity: 0;
            position: absolute;
            display: block;
            top: 100%;
            right: 0;
            z-index: -11;
            transition:
                width 0.5s,
                opacity 0.3s;
        }

        &.cs-active {
            &:before {
                width: 100%;
                opacity: 1;
            }

            .cs-ul-wrapper {
                opacity: 1;
                transform: scaleX(1);
                transition-delay: 0.2s;
            }

            .cs-li {
                transform: translateX(0);
                opacity: 1;
            }
        }

        .cs-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .cs-logo {
            width: 40%;
            max-width: (80/16rem);
            height: 100%;
            margin: 0 auto 0 0;
            padding: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
                /* places the image to the left edge of the parent */
                object-position: left;
            }

            img:focus-visible {
                outline:none !important;
            }
        }

        .cs-toggle {
            width: (32/16rem);
            height: (32/16rem);
            margin: 0 0 0 auto;
            border-radius: (4/16rem);
            background-color: var(--primary);
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-active {
            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
            }

            .cs-line2 {
                top: 50%;
                transform-origin: center;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
            }

            .cs-line3 {
                bottom: 100%;
                opacity: 0;
            }
        }

        .cs-box {
            /* 24px - 28px */
            width: clamp(1em, 2vw, 1.5rem);
            height: (14/16rem);
            position: relative;
        }

        .cs-line {
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: #fafbfc;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-line1 {
            top: 0;
            transform-origin: center;
            transition:
                transform 0.5s,
                top 0.3s,
                left 0.3s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-direction: normal;
        }

        .cs-line2 {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition:
                top 0.3s,
                left 0.3s,
                transform 0.5s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-direction: normal;
        }

        .cs-line3 {
            bottom: 0;
            transition:
                bottom 0.3s,
                opacity 0.3s;
        }

        .cs-ul-wrapper {
            min-width: 60vw;
            height: 100vh;
            opacity: 0;
            background-color: #fff;
            box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
            overflow: hidden;
            position: absolute;
            top: 100%;
            left: auto;
            right: 0;
            z-index: -1;
            transform: scaleX(0);
            transform-origin: top right;
            transition:
                transform 0.4s,
                opacity 0.3s;
        }

        .cs-ul {
            margin: 0;
            /* 28px - 40px */
            padding: (48/16rem) clamp(1.75rem, 3vw, 2.5rem) (32/16rem)
                (70/16rem);
            width: auto;
            min-width: 40%;
            height: 65vh;
            overflow: scroll;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-end;
            gap: (20/16rem);
        }

        .cs-li {
            text-align: right;
            list-style: none;
            width: 100%;
            margin-right: 0;
            /* transition from these values */
            transform: translateX(-2.5rem);
            opacity: 0;
            transition:
                transform 0.6s,
                opacity 0.9s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
        }

        .cs-li-link {
            /* 16px - 24px */
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            line-height: 1.2em;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: inline-block;
            position: relative;

            &:before {
                /* active state underline */
                content: "";
                width: 100%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: none;
                bottom: (-2/16rem);
                left: 0;
            }

            &.cs-active {
                &:before {
                    display: block;
                }
            }
        }

        .cs-button-solid {
            display: none;
        }
    }
}
/* Global */
@media only screen and (min-width: 0rem) {
        #cs-navigation {
            box-shadow:rgba(149, 157, 165, 0.4) 0px 8px 24px

        }
}
/* Global Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cs-navigation {
            background-color: #1a1a1a;

            .cs-li-link{
                color: #ffffff;
            }
        }
    }
}

@media only screen and (max-width: 63.9375rem) {
    body.dark-mode {
        #cs-navigation {
            

            .cs-line {
                background-color: #fff;
            }

            .cs-ul-wrapper {
                background-color: var(--medium);
            }

            .cs-li-link {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        width: 100%;
        padding: 0 (16/16rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: #ffffff;
        position: fixed;
        z-index: 10000;

        .cs-container {
            width: 100%;
            /* same height as the cs-ul-wrapper */
            height: (93/16rem);
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: (24/16rem);
            position: relative;
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            width: 18.4%;
            max-width: (350/16rem);
            height: (80/16rem);
            /* margin-right auto pushes everything away from it to the right */
            margin: 0 auto 0 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
                object-position: left;
            }

            img:focus-visible {
                outline:none !important;
            }
        }

        .cs-ul-wrapper {
            /* absolutely positioned to be dead center */
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .cs-ul {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 20px - 36px */
            gap: clamp(1.25rem, 2.6vw, 2.25rem);
        }

        .cs-li {
            list-style: none;
            padding: (36/16rem) 0;
            /* prevent flexbox from squishing it */
            flex: none;
        }

        .cs-li-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 0.6vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }

            &.cs-active {
                color: var(--primary);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (32/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            img{
                margin-right: .5rem;
            }

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #fff;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #1a1a1a;
                &:before {
                    width: 100%;
                }
            }
        }
    }
}


/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile - 360px - Contains hover state */
@media only screen and (min-width: 0rem) {
    #cs-footer-105 {
        padding: 2.5em 1em 1.25rem;
    }
    #cs-footer-105 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
    }
    #cs-footer-105 .cs-ul {
        padding: 0 0 2.5rem;
        margin: auto;
        border-bottom: 1px solid #eff0f6;
    }
    #cs-footer-105 .cs-li {
        list-style: none;
        text-align: center;
        margin-bottom: 1.25rem;
    }
    #cs-footer-105 .cs-li:last-of-type {
        margin-bottom: 0;
    }
    #cs-footer-105 .cs-link {
        /* 15px - 17px */
        font-size: clamp(0.9375rem, 2vw, 1.0625rem);
        line-height: 1.5em;
        text-decoration: none;
        font-weight: 700;
        color: var(--headerColor);
        position: relative;
    }
    #cs-footer-105 .cs-link:hover:before {
        width: 100%;
    }
    #cs-footer-105 .cs-link:before {
        /* top right box */
        content: "";
        width: 0%;
        height: 0.1875rem;
        background: var(--headerColor);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #cs-footer-105 .cs-bottom {
        margin-top: 1.25rem;
        display: flex;
        /* set everyone to position on the left side */
        justify-content: flex-start;
        align-items: center;
    }
    #cs-footer-105 .cs-copyright {
        font-size: 0.9375rem;
        text-align: center;
        color: #a0a3bd;
        display: block;
        /* margin right auto on a flexbox pushes everyone else to the right */
        margin: 0 auto 0 0;
    }
    #cs-footer-105 .cs-social-link {
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 0.75rem;
        background: #a0a3bd;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cs-footer-105 .cs-social-link img {
        height: 0.6875rem;
        width: auto;
    }
}
/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
    #cs-footer-105 .cs-ul {
        display: flex;
        /* push everything to the left */
        justify-content: flex-start;
        align-items: center;
    }
    #cs-footer-105 .cs-li {
        /* 45px - 88px */
        margin: 0 clamp(2.8125rem, 7vw, 5.5rem) 0 0;
    }
    #cs-footer-105 .cs-li:last-of-type {
        margin: 0;
        /* margin-left auto will push everything away and force it to the farthest 
                   right edge */
        margin-left: auto;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #cs-footer-105 .cs-link {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #cs-footer-105 .cs-link:before {
        background: var(--bodyTextColorWhite);
    }
    body.dark-mode #cs-footer-105 .cs-social-link {
        background: var(--darkTint);
    }
}

                                
/*-- -------------------------- -->
<---       Other Services       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1309 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: clamp(3rem, 4vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-image-group {
            width: 100%;
            max-width: (670/16rem);
            height: 100vw;
            max-height: (630/16rem);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            /* big background image */
            width: 93%;
            height: 93%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-box {
            text-align: left;
            width: 70%;
            max-width: (304/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 20px - 40px */
            padding: clamp(1.25rem, 4vw, 2.5rem);
            background-color: #1a1a1a;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: (8/16rem);
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 10;
        }

        .cs-desc {
            /* 16px - 31px */
            font-size: clamp(1rem, 2.5vw, 1.9375rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            width: 100%;
            color: var(--bodyTextColorWhite);
            position: relative;
            z-index: 10;
        }

        .cs-graphic {
            width: 150%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1309 {
        .cs-container {
            max-width: (1280/16rem);
            /* set to horizontal arrangement */
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 48%;
            padding: (48/16rem) 0;
            align-self: center;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-image-group {
            width: 55%;
            max-width: (670/16rem);
            height: auto;
            max-height: 100%;
            min-height: (670/16rem);
            margin: 0;
            /* sends it to the right in the second position */
            order: 2;
        }

        .cs-picture {
            width: 93%;
            height: 94%;
            right: 0;
            left: auto;
        }

        .cs-box {
            right: auto;
            bottom: (0/16rem);
            left: 0;
        }

        .cs-graphic {
            max-width: (715/16rem);
            right: (130/16rem);
            left: auto;
            transform: translateY(-50%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbsr-1309 {
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                color: var(--secondaryLight);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-box {
                background-color: var(--medium);
            }
        }
    }
}


/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-1014 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            /* 32px - 88px top & bottom */
            /* 24px - 88px left & right */
            padding: clamp(2em, 6.3vw, 5.5em) clamp(1.5em, 5.7vw, 5.5em);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: (32/16rem);
            position: relative;
            /* clips the corners for the border radius to show */
            overflow: hidden;
            z-index: 1;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            &:before {
                /* black overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.8;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }


        .cs-title {
            /* 25px - 49px */
            font-size: clamp(1.5625rem, 3.9vw, 3.0625rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: left;
            max-width: (800/16rem);
            /* 20px - 48px */
            margin: 0 auto clamp(1.25rem, 4.7vw, 3rem);
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: auto;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (32/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            /* 12px - 20px */
            gap: clamp(0.75rem, 1.6vw, 1.25rem);
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.4vw, 1.5625rem);
            font-weight: bold;
            color: var(--primary);
            display: block;
        }

        .cs-p {
            /* 14px - 20px */
            font-size: clamp(0.875rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cta-1014 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            align-items: flex-end;
            text-align: right;
            /* prevents flexbox from squishing it */
            flex: none;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cta-1014 {
            .cs-background {
                &:before {
                    opacity: 0.9;
                }
                &:after {
                    opacity: 0.1;
                }
            }
        }
    }
}


/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1582 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at talet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 5vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            width: 100%;
            text-align: left;
            list-style: none;
            /* 20px - 32px */
            padding: clamp(1.25rem, 2.3vw, 2rem);
            background-color: #F7F7F7;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            grid-column: span 12;
            position: relative;
            z-index: 1;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #faq-1582 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-1582 {
            .cs-title,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }
            .cs-item {
                background-color: var(--accent);
            }
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}
                                


/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1131 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            color: #767676;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
        }

        .cs-item {
            width: 100%;
            text-align: center;
            list-style: none;
            margin: 0;
            /* 24px - 32px */
            padding: clamp(1.5rem, 3vw, 2rem);
            background-color: #fff;
            border: 1px solid #e8e8e8;
            border-radius: (16/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            grid-column: span 12;
            grid-row: span 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                border-color 0.3s;

            &:hover {
                box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.12);
                border-color: transparent;
                .cs-h3 {
                    color: var(--primary);
                }
            }
        }

        .cs-image-group {
            width: (100/16rem);
            height: auto;
            /* 20px - 24px */
            margin: 0 0 clamp(1.25rem, 2.5vw, 1.5rem);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
        }

        .cs-icon {
            width: (48/16rem);
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .cs-graphic {
            width: 100%;
            height: auto;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            text-align: inherit;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: (450/16rem);
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1131 {
        .cs-item {
            text-align: left;
            align-items: flex-start;
            grid-column: span 6;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1131 {
        .cs-item {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1131 {
            .cs-item {
                background-color: var(--dark);
                border-color: rgba(255, 255, 255, 0.2);

                &:hover {
                    .cs-h3 {
                        color: var(--secondary);
                    }
                }
            }

            .cs-topper {
                color: var(--secondary);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-icon {
                filter: grayscale(1) brightness(1000%);
            }

            .cs-graphic {
                opacity: 0.2;
            }
        }
    }
}

                                
/*-- -------------------------- -->
<---          Brands            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-45 {
        padding: var(--sectionPadding);
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;
    }
    #gallery-45 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #gallery-45 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #gallery-45 .cs-image-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 16px - 20px */
        gap: clamp(1rem, 1.5vw, 1.25rem);
    }
    #gallery-45 .cs-item {
        list-style: none;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        margin: 0;
        position: relative;
        display: block;
        background-color: #0067FF70;
        padding: 1rem;
    }
    #gallery-45 .cs-item:hover .cs-hover-box {
        opacity: 1;
    }
    #gallery-45 .cs-item:hover .cs-icon {
        /* return to original position */
        transform: rotateY(0);
    }
    #gallery-45 .cs-item:hover .cs-h3 {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-45 .cs-item:hover .cs-hover-box-text {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-45 .cs-picture {
        margin: auto;
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }
    #gallery-45 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    #gallery-45 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #gallery-45 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #gallery-45 .cs-button-solid:hover:before {
        width: 100%;
    }
    #gallery-45 .cs-image-group {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
    }
    #gallery-45 .cs-item {
        grid-column: span 6;
    }
}
/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
    
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-45 .cs-item {
        grid-column: span 2;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #gallery-45 .cs-title,
    body.dark-mode #gallery-45 .cs-text {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #gallery-45 .cs-text {
        opacity: 0.8;
    }
}
                    


/* Mobile - 360px */
/* you can copy and paste these styles into the section CSS where you placed the #list-1113 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
@media only screen and (min-width: 0rem) {
    #list-1113 {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
    }
    #list-1113 .cs-li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    #list-1113 .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 3vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 0.75rem;
    }
    #list-1113 .cs-li-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 39.375rem;
      margin: 0;
      color: var(--bodyTextColor);
    }
  }
  /* Dark Mode, copy and paste only the styles inside the #list-1113 brackets into your section's dark mode media query */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #list-1113 .cs-li-text,
    body.dark-mode #list-1113 .cs-h3 {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #list-1113 .cs-li-text {
      opacity: 0.8;
    }
  }
                                  