---
title: "Benjie Lindo Live"
description: "Connect your business to the right audience with marketing strategies tailored to your industry. Benjie Lindo helps brands thrive with impactful campaigns and measurable results."
permalink: '/'
eleventyNavigation:
    key: 'Home'
    order: '100'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}


    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1299">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Welcome to Benjie Lindo Live</span>
                <h1 class="cs-title">Advertise Smarter. Grow Faster.</h1>
                <p class="cs-text">
                    Connect your business to the right audience with marketing strategies tailored to your industry. Benjie Lindo helps brands thrive with impactful campaigns and measurable results.
                </p>
                <a href="tel:1-780-885-2698" class="cs-button-solid">Book Your Appointment</a>
            </div>
            <!--To make your own background crops of people use https://www.remove.bg/-->
            <div class="cs-picture-wrapper">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/benjie-lindo-header-transparent.webp">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/benjie-lindo-header-transparent.webp">
                    <img aria-hidden="true" decoding="async" src="{{ client.domain }}/assets/images/benjie-lindo-header-transparent.webp" alt="benjie-lindo" width="468" height="658">
                </picture>
            </div>
        </div>
        <div class="cs-container" bis_skin_checked="1">
            <ul class="cs-card-group">        
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <h3 class="cs-h3">Our Vision</h3>
                        <p class="cs-item-text">
                            To be a leading force in digital marketing and community development, helping businesses thrive while fostering a more inclusive and compassionate society where every individual has the opportunity to succeed.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <h3 class="cs-h3">Our Mission</h3>
                        <p class="cs-item-text">
                            To empower businesses and communities by providing expert marketing solutions and championing initiatives that support newcomers and underprivileged individuals, creating opportunities for growth and success.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <h3 class="cs-h3">Core Values</h3>
                        <p class="cs-item-text">
                            Integrity: Honesty in all our efforts. Empowerment: Supporting growth and success. Community: Building strong, inclusive connections. Compassion: Giving back and making a difference.
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <!--Floating Arrow-->
        <!--We wrap it in a picture element wrapper so we can use the wrapper as a box for it to live inside of instead of the section wrapper. This allows us to add overflow:hidden to the wrapper to cut off the graphic at the edge of the screen. If we added overflow:hidden to the section container it would clip the overlapping service cards. So we add this wrapper to allow us to clip only the graphic. -->
        <picture class="cs-floater-wrapper">
            <img class="cs-floater" aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-arrow-reversed.svg" alt="graphic" width="956" height="708">
        </picture>
        <!--Background Image, background image added in CSS at 1600px wide for parallax effect-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-t-reversed2.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-reversed2.jpg">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-reversed2.jpg" alt="buildings" width="1280" height="568">
        </picture>
    </section>
                                

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-523">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">About Benjie Lindo</h2>
                <p class="cs-text">
                    Benjie Lindo is a marketing expert and community leader, focused on helping businesses grow through tailored brand strategies and digital marketing. As the founder of <strong>Yakap Alberta Foundation</strong>, he supports newcomers and community initiatives in Alberta while giving back through impactful charitable programs like his <strong>“Adopt a Child”</strong> initiative in the Philippines.
                </p>
                <p class="cs-text">
                    <em>❝I can help increase your client base and effectively advertise your business.❞</em>
                </p>
                <a href="/about/" class="cs-button-solid">Know More About Benjie</a>
            </div>
            <div class="cs-image-group">
                <!--Large Image-->
                <picture class="cs-picture cs-picture-large">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brochures.webp" alt="lab" width="334" height="380">
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Promotions                  -->
    <!-- ============================================ -->

    <section id="gallery-380">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Get To Know</span>
                <h2 class="cs-title">Benjie's Current Promotions</h2>
            </div>
            <div class="cs-gallery">
                <a class="cs-item" href="{{ client.domain }}/assets/images/promotions/Harvesthills-Dental.jpeg" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/Harvesthills-Dental.jpeg">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/Harvesthills-Dental.jpeg">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/Harvesthills-Dental.jpeg" alt="loan promo" width="305" height="400">
                    </picture>
                </a>
                
                <a class="cs-item" href="{{ client.domain }}/assets/images/promotions/loan-promo.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/loan-promo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/loan-promo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/loan-promo.webp" alt="loan promo" width="305" height="400">
                    </picture>
                </a>

                <a class="cs-item" href="{{ client.domain }}/assets/images/promotions/mnh-promo.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/mnh-promo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/mnh-promo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/mnh-promo.webp" alt="mnh" width="305" height="400">
                    </picture>
                </a>
                <a class="cs-item" href="{{ client.domain }}/assets/images/promotions/deep-sleep-promo.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/deep-sleep-promo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/deep-sleep-promo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/deep-sleep-promo.webp" alt="deep sleep" width="305" height="400">
                    </picture>
                </a>
                <a class="cs-item" href="{{ client.domain }}/assets/images/promotions/medical-supplies.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/medical-supplies.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/medical-supplies.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/medical-supplies.webp" alt="gallery" width="305" height="400">
                    </picture>
                </a>
                <a class="cs-item" href="{{ client.domain }}/assets/images/promotions/telus-promo.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/telus-promo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/telus-promo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/telus-promo.webp" alt="gallery" width="305" height="400">
                    </picture>
                </a>
                <a class="cs-item" href="{{ client.domain }}/assets/images/promotions/bespoke.webp" target="_blank">
                    <div class="cs-hover-box">
                        <picture class="cs-icon" aria-hidden="true">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24">
                        </picture>
                        <h3 class="cs-h3">Open Full Image</h3>
                    </div>
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/bespoke.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/bespoke.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/bespoke.webp" alt="gallery" width="305" height="400">
                    </picture>
                </a>
            </div>
            <a href="tel:1-780-885-2698"" class="cs-button-solid">Avail These Promos Now</a>
        </div>
    </section>                          
    
    <!-- ============================================ -->
    <!--                   Brands                    -->
    <!-- ============================================ -->

    <section id="gallery-45">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Explore</span>
                <h2 class="cs-title">Brand Partners</h2>
                <p class="cs-text">
                    Reach more customers and grow your brand with targeted advertising that delivers impact.
                </p>
            </div>
            <ul class="cs-image-group">
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/mnh-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/mnh-logo.webp">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/mnh-logo.webp" alt="MNH" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp" alt="Beyon Vision" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp" alt="Maya Dental Logo" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/experior.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/experior.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/experior.webp" alt="Experior" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp" alt="Deep Sleep" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp" alt="Inifinte Graphics" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/umac-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/umac-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/umac-logo.webp" alt="UMAC" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/maxwell-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/maxwell-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/maxwell-logo.webp" alt="Maxwell" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp" alt="Campbell College" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/goCanada-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/goCanada-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/goCanada-logo.webp" alt="GoCanada" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp" alt="MK Car" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/bespoke_logo.png">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/bespoke_logo.png">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/bespoke_logo.png" alt="BEspoke Web Design" width="346" height="346">
                        </picture>
                    </a>
                </li>
            </ul>
            <a href="tel:1-780-885-2698" class="cs-button-solid">Call Kuya Benjie Now</a>
        </div>
    </section>                  

    <!-- ============================================ -->
    <!--                Other Services                -->
    <!-- ============================================ -->

    <section id="sbsr-1309" class="cs-section-breaker">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Floating Box-->
                <div class="cs-box">
                    <span class="cs-desc">Reach Out to Kuya Benjie</span>
                </div>
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/benjie-kitchen.webp">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/benjie-kitchen.webp"">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/benjie-kitchen.webp"" alt="meeting" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">How Can We Help</span>
                <h2 class="cs-title">Other Services</h2>
                <p class="cs-text"><strong>Sasakyang Hanap Mo / Cash Back</strong> - Toyota, Subaru, Honda, Hyundai, Jeep, Ford</p>
                <p class="cs-text"><strong> Website Design for Small Businesses</strong>  – Custom-built with a blog, logo, and full brand identity. Refer a brand or a business and get $100!
                    <br>
                        <strong>Call 780-885-2698 </strong>for details</p>
                  
                
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                      FAQ                     -->
    <!-- ============================================ -->

    <section id="faq-1582">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">FAQ</span>
                <h2 class="cs-title">Frequently Asked Questions</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">1. What types of brands do you work with?</h3>
                        <p class="cs-item-text">
                            I collaborate with brands that align with my values and my audience's interests, including those in industries like finance, loans, automotive, education, fashion, food, lifestyle and more.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">2. How can your platform help promote my business?</h3>
                        <p class="cs-item-text">
                            I create authentic and engaging content that connects with my audience, helping businesses gain exposure, build trust, and boost sales.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">3. What kind of content do you create?</h3>
                        <p class="cs-item-text">
                            I specialize in high-quality posts, stories, reels, and videos that are tailored to showcase your brand in a way that resonates with my audience.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">4. Can you share insights into the success of a campaign?</h3>
                        <p class="cs-item-text">
                            Yes, I provide detailed feedback on the campaign's performance, including engagement levels and audience responses, to ensure we’re meeting your goals.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">5. How can I book a collaboration with you?</h3>
                        <p class="cs-item-text">
                            It’s simple! Reach out to me by phone <a href="tel:780-885-2698">(780-885-2698)</a> and let’s discuss how we can work together to achieve your goals.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
      

    {% include "components/cta.html" %}

{% endblock %}