---
title: "Benjie Lindo Live"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: '/'
eleventyNavigation:
    key: 'Home'
    order: '100'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

<!-- Usage Notes:
We made this stitch to overlap the section below it, so if there's a patterned texture or image background on the next section below, it will overlap on top of it. Other Stitches like this would have a white gap between the cards and the next section. In order to make Stitches like this work, we need to add a padding top on the section below it to counteract the overlap. Here's the padding top you need to add to the section below this one and all the breakpoints to add them so this design will work with whatever comes after it:

ON MOBILE (360px): add padding-top: (750/16rem); using LESS, or padding-top: calc(750 / 16 * 1rem); if you're using SCSS, or padding-top: 46.875rem; if you're just using vanilla CSS.

ON TABLET (768px): Reset to padding-top: (500/16rem); using LESS, padding-top: calc(500 / 16 * 1rem) for SCSS or padding-top: 31.25rem; for CSS.

ON DESKTOP (1024px): Reset to padding-top: (250/16rem); using LESS, padding-top: calc(250 / 16 * 1rem) for SCSS or padding-top: 15.625rem; for CSS.

Doing this will complete the overlapping "breaking the container" look.
-->

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1299">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Welcome to Benjie Lindo Live</span>
                <h1 class="cs-title">Advertise your business with us for better results.</h1>
                <p class="cs-text">
                    Highly qualified tax consultants with many years of experience in the field offer a full range of services to help you build a financial future.
                </p>
                <a href="tel:1-780-885-2698" class="cs-button-solid">Book Appointment</a>
            </div>
            <!--To make your own background crops of people use https://www.remove.bg/-->
            <div class="cs-picture-wrapper">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/benjie-lindo-header-transparent.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/benjie-lindo-header-transparent.png">
                    <img aria-hidden="true" decoding="async" src="{{ client.domain }}/assets/images/benjie-lindo-header-transparent.png" alt="accountant" width="468" height="658">
                </picture>
            </div>
        </div>
        <div class="cs-container">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/brain.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        <h3 class="cs-h3">Creative Solutions</h3>
                        <p class="cs-item-text">
                            We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/users.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        <h3 class="cs-h3">Professional Team</h3>
                        <p class="cs-item-text">
                            We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Layer.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        <h3 class="cs-h3">Diverse Approach</h3>
                        <p class="cs-item-text">
                            We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Layer.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        <h3 class="cs-h3">Diverse Approach</h3>
                        <p class="cs-item-text">
                            We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <!--Floating Arrow-->
        <!--We wrap it in a picture element wrapper so we can use the wrapper as a box for it to live inside of instead of the section wrapper. This allows us to add overflow:hidden to the wrapper to cut off the graphic at the edge of the screen. If we added overflow:hidden to the section container it would clip the overlapping service cards. So we add this wrapper to allow us to clip only the graphic. -->
        <picture class="cs-floater-wrapper">
            <img class="cs-floater" aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-arrow-reversed.svg" alt="graphic" width="956" height="708">
        </picture>
        <!--Background Image, background image added in CSS at 1600px wide for parallax effect-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-t-reversed2.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-reversed2.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-reversed2.jpg" alt="buildings" width="1280" height="568">
        </picture>
    </section>
                                

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-523">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">About Benjie Lindo</h2>
                <p class="cs-text">
                    Benjie Lindo is a marketing expert and community leader, focused on helping businesses grow through tailored brand strategies and digital marketing. As the founder of <strong>Yakap Alberta Foundation</strong>, he supports newcomers and community initiatives in Alberta while giving back through impactful charitable programs like his <strong>“Adopt a Child”</strong> initiative in the Philippines.
                </p>
                <p class="cs-text">
                    <em>❝I can help increase your client base and effectively advertise your business.❞</em>
                </p>
                <a href="/about/" class="cs-button-solid">Know More About Benjie</a>
            </div>
            <div class="cs-image-group">
                <!--Large Image-->
                <picture class="cs-picture cs-picture-large">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting.jpeg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting.jpeg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting.jpeg" alt="lab" width="334" height="380">
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Promotions                  -->
    <!-- ============================================ -->

    <section id="gallery-1648">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Get To Know</span>
                    <h2 class="cs-title">Benjie's Current Promotions</h2>
                </div>
            </div>
            <div class="cs-gallery">
                <!--Picture 1-->
                <a href="tel:1-780-885-2698" class="cs-link">
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/cdi-college-promo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/cdi-college-promo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/cdi-college-promo.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <img class="cs-link-icon" loading="lazy" decoding="async" src="{{ client.domain }}/assets/svgs/phone-call.svg" alt="phone" width="48" height="48">
                </a>
                <!--Picture 2-->
                <a href="tel:1-780-885-2698" class="cs-link">
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/loan-promo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/loan-promo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/loan-promo.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <img class="cs-link-icon" loading="lazy" decoding="async" src="{{ client.domain }}/assets/svgs/phone-call.svg" alt="phone" width="48" height="48">
                </a>
                <!--Picture 3-->
                <a href="tel:1-780-885-2698" class="cs-link">
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/mnh-promo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/mnh-promo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/mnh-promo.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <img class="cs-link-icon" loading="lazy" decoding="async" src="{{ client.domain }}/assets/svgs/phone-call.svg" alt="phone" width="48" height="48">
                </a>
                <!--Picture 4-->
                <a href="tel:1-780-885-2698" class="cs-link">
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/promotions/deep-sleep-promo.webp">
                        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/promotions/deep-sleep-promo.webp">
                        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/promotions/deep-sleep-promo.webp" alt="gallery" width="305" height="400">
                    </picture>
                    <img class="cs-link-icon" loading="lazy" decoding="async" src="{{ client.domain }}/assets/svgs/phone-call.svg" alt="phone" width="48" height="48">
                </a>
            </div>
        </div>
    </section>
    
    <!-- ============================================ -->
    <!--                   Brands                    -->
    <!-- ============================================ -->

    <section id="gallery-45">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Explore</span>
                <h2 class="cs-title">Brand Partners</h2>
                <p class="cs-text">
                    Reach more customers and grow your brand with targeted advertising that delivers impact.
                </p>
            </div>
            <ul class="cs-image-group">
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/mnh-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/mnh-logo.webp">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/mnh-logo.webp" alt="MNH" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp">
                            <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp" alt="Beyon Vision" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp" alt="Maya Dental Logo" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/experior.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/experior.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/experior.webp" alt="Experior" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp" alt="Deep Sleep" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp" alt="Inifinte Graphics" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/umac-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/umac-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/umac-logo.webp" alt="UMAC" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/maxwell-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/maxwell-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/maxwell-logo.webp" alt="Maxwell" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp" alt="Campbell College" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/goCanada-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/goCanada-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/goCanada-logo.webp" alt="GoCanada" width="346" height="346">
                        </picture>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="tel:1-780-885-2698">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp">
                            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp" alt="MK Car" width="346" height="346">
                        </picture>
                    </a>
                </li>
            </ul>
            <a href="tel:1-780-885-2698" class="cs-button-solid">Call Kuya Benjie Now</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--               Other Services                 -->
    <!-- ============================================ -->

    <section id="sbsr-251">
        <div class="cs-container">
            <!-- Left Image Section -->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/mountains.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/mountains.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/mountains.jpg" alt="hiker" width="522" height="522" aria-hidden="true">
            </picture>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">What’s Next?</span>
                <h2 class="cs-title">Explore the Mountain</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc lobortis mattis aliquam faucibus purus in. Diam ut venenatis tellus in metus vulputate eu. Massa vitae tortor condimentum lacinia quis vel eros donec ac.
                </p>
                <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
            </div>
        </div>
    </section>                     

    <!-- ============================================ -->
    <!--                Why Choose Us                 -->
    <!-- ============================================ -->

    <section id="why-choose-1657">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">CSS, LESS and SASS</span>
                    <h2 class="cs-title">Your favourite CSS syntaxes - all under one roof</h2>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <span class="cs-number">CSS</span>
                        <p class="cs-li-text">
                            If you prefer vanilla CSS, everything has already been set up for you. You shouldn't need to merge in the SASS and LESS branches, and the ./starter-styles folder can be deleted.
                        </p>
                    </li>
                    <li class="cs-li">
                        <span class="cs-number">LESS</span>
                        <p class="cs-li-text">
                            If you want to use the LESS preprocessor, make sure the "less" branch has been merged to include the LESS processor. When all branches have been merged, you can find the kit styles in ./starter-styles. Copy these over to /assets/less, or delete them to start from scratch.
                        </p>
                    </li>
                    <li class="cs-li">
                        <span class="cs-number">SASS</span>
                        <p class="cs-li-text">
                            Same as before - merge in the "sass" branch to include the SASS processor. Delete the ./starter-styles folder or copy over the SASS styles into /assets/sass to get a headstart on the project
                        </p>
                    </li>
                </ul>
            </div>
            <div class="cs-wrapper">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting12.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting12.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting12.jpg" alt="meeting" width="630" height="414">
                </picture>

                <p class="cs-review">
                    <svg class="cs-quote" preserveAspectRatio="none" viewBox="0 0 100 93" fill="none" xmlns="http://www.w3.org/2000/svg" preser>
                        <g opacity=".4" clip-path="url(#a)" fill="var(--quoteColor)"><path d="M22.94 84H0L18.305.854H55L22.94 84ZM67.94 84H45L63.305.854H100L67.94 84Z"/></g>
                        <defs>
                            <clipPath id="a-1657"><path fill="#fff" transform="translate(0 .854)" d="M0 0h100v83.146H0z"/></clipPath>
                        </defs>
                    </svg>
                    To minimise the number of merge conflicts, vanilla CSS for these introductory pages are supplied in /assets. Should you wish to carry over the starting kit styles, LESS and SASS versions are supplied outside of ./src
                </p>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbsr-1309">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Floating Box-->
                <div class="cs-box">
                    <span class="cs-desc">Building a better website, together</span>
                </div>
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">Help & Support</span>
                <h2 class="cs-title">Guidance every step of the way</h2>
                <p class="cs-text">Outside of a cool new feature, each branch comes with an introductory landing page (just like this one) and a branch-specific README. The landing page gives you a quick overview of the branch, with the README providing more technical details should you wish to expand.</p>
                <p class="cs-text">Additionally, all project-critical actions that need to be taken have a comment containing "CS-TODO". After merging in your branches, you can search the codebase for "CS-TODO", find the most important changes that need to be made, and action them effortlessly.</p>
                <p class="cs-text">Finally, if you are still stuck or find a bug in the kit, you can use the CTAs in the header to get directly in touch with the kit creators, or reach out to a community of hundreds of other developers.</p>
                <p class="cs-text">The kit continues to be supported going forward, with a complete set of tutorial videos and additional feature branches planned in the very near future. Follow our subreddit to stay up to date!</p>
                <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
            </div>
        </div>
    </section>

{% endblock %}