---
title: "Benjie Lindo Live"
description: "Connect your business to the right audience with marketing strategies tailored to your industry. Benjie Lindo helps brands thrive with impactful campaigns and measurable results."
permalink: '/'
eleventyNavigation:
    key: 'Home'
    order: '100'
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css">

        {# hero slider js #}
    <script src="/assets/js/hero-slider.js" defer></script>
    {# promotion-gallery #}
    <script src="/assets/js/promotion-gallery.js" defer></script>

    <link rel="stylesheet" href="/assets/css/photoswipe.css">

    <script type="module">
        import PhotoSwipeLightbox from '/assets/js/photoswipe-lightbox.esm.js';

        const lightbox = new PhotoSwipeLightbox({
        gallery: '#promotion-gallery',
        children: 'a',
        pswpModule: () => import('/assets/js/photoswipe.esm.js')
        });
        lightbox.init();
    </script>
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

                


    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

      <section id="hero-slider" class="slider" >

                <picture class="cs-picture">
                        <source
                        media="(max-width: 600px)"
                        srcset="{{ client.domain }}/assets/images/benjie-lindo-header-transparent.webp"
                        />
                        <source
                        media="(min-width: 601px)"
                        srcset="{{ client.domain }}/assets/images/benjie-lindo-header-transparent.webp"
                        />
                        <img
                        aria-hidden="true"
                        decoding="async"
                        src="{{ client.domain }}/assets/images/benjie-lindo-header-transparent.webp"
                        alt="benjie-lindo"
                        width="468"
                        height="658"
                        class="cs-image"
                        />
                    </picture>

        <ul class="list">
            <li class="item active">
                    <!--Image background -->
                <picture class="picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-t-reversed2.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-reversed2.jpg">
                    <!--prioritize this image as this is the very first image that will be seen-->
                    <img fetchpriority="high" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-reversed2.jpg" alt="buildings" width="1280" height="568" class="img">
                </picture>


                <div class="content">
                    <p class="cs-topper">Welcome to Benjie Lindo Live</p>
                    <h1 class="cs-title">Advertise Smarter. Grow Faster.</h1>
                    <p class="cs-text">
                        Connect your business to the right audience with marketing strategies
                        tailored to your industry. Benjie Lindo helps brands thrive with
                        impactful campaigns and measurable results.
                    </p>
                    <a href="tel:1-780-885-2698" class="cs-button-solid"
                        >Book Your Appointment</a
                    >
                </div>
            </li>

            <li class="item">
                <picture class="picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 1023px)" srcset="/assets/images/brochures.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 1024px)" srcset="/assets/images/brochures.webp">
                    <img class="img" loading="lazy" decoding="async" src="/assets/images/brochures.webp" alt="buildings" width="1280" height="568">
                </picture>

                <div class="content">
                    <p class="cs-topper">Trusted Partnerships That Deliver</p>
                    <h1 class="cs-title">Brand Collaborations</h1>
                    <p class="cs-text">I only work with brands I believe in, creating authentic content that drives real engagement and results.</p>
                    <a href="tel:1-780-885-2698" class="cs-button-solid"
                        >Book Your Appointment</a
                    >
                </div>
            </li>
            <li class="item">
                <picture class="picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/construction-site.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/construction-site.png">
                    <img class="img" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/construction-site.png" alt="buildings" width="1280" height="568">
                </picture>

                <div class="content">
                    <p class="cs-topper">Real-Time Conversations That Connect</p>
                    <h1 class="cs-title">Interactive Facebook Lives</h1>
                    <p class="cs-text">
                        Every live session is more than just a stream—I engage, answer questions, give demos, and create a real connection with my audience.
                    </p>
                    <a href="tel:1-780-885-2698" class="cs-button-solid"
                        >Book Your Appointment</a
                    >
                </div>
            </li>
            <li class="item">
                <picture class="picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 1023px)" srcset="/assets/images/promotions/bespoke.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 1024px)" srcset="/assets/images/promotions/bespoke.webp">
                    <img class="img" loading="lazy" decoding="async" src="/assets/images/promotions/bespoke.webp" alt="buildings" width="1280" height="568">
                </picture>

                <div class="content">
                    <p class="cs-topper">Beyond Promotions—Real Impact</p>
                    <h1 class="cs-title">Authentic Advocacy</h1>
                    <p class="cs-text">
                        I use my platform to raise awareness, share honest recommendations, and help people make informed choices that matter.
                    </p>
                    <a href="tel:1-780-885-2698" class="cs-button-solid"
                        >Book Your Appointment</a
                    >
                </div>
            </li>
        </ul>
        <div class="arrows">
            <button id="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
            </button>
            <button id="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
            </button>
        </div>

        <ul class="thumbnail">
           <li class="item active">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-t-reversed2.jpg" />
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-t-reversed2.jpg" />
                    <img
                        class="cs-img"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/buildings-t-reversed2.jpg"
                        alt="thumbnail of hero"
                        width="334"
                        height="380"
                    />
                </picture>
                <div class="content">
                    <p class="cs-topper">Welcome to Benjie Lindo Live</p>
                    <p class="cs-title"> Advertise Smarter. Grow Faster. </p>
                </div>
            </li> 

           <li class="item ">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/brochures.webp" />
                    <source media="(min-width: 601px)" srcset="/assets/images/brochures.webp" />
                    <img
                        class="cs-img"
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/brochures.webp"
                        alt="thumbnail of hero"
                        width="334"
                        height="380"
                    />
                </picture>
                <div class="content">
                    <p class="cs-topper">Trusted Partnerships That Deliver</p>
                    <p class="cs-title">Brand Collaborations</p>
                </div>
            </li> 
           <li class="item ">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/construction-site.png" />
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/construction-site.png" />
                    <img
                        class="cs-img"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/construction-site.png"
                        alt="thumbnail of hero"
                        width="334"
                        height="380"
                    />
                </picture>
                <div class="content">
                    <p class="cs-topper">Real-Time Conversations That Connect</p>
                    <p class="cs-title">Interactive Facebook Lives</p>
                </div>
           </li> 
           <li class="item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/promotions/bespoke.webp" />
                    <source media="(min-width: 601px)" srcset="/assets/images/promotions/bespoke.webp" />
                    <img
                        class="cs-img"
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/promotions/bespoke.webp"
                        alt="thumbnail of hero"
                        width="334"
                        height="380"
                    />
                </picture>
                <div class="content">
                    <p class="cs-topper">Beyond Promotions—Real Impact</p>
                    <p class="cs-title">Authentic Advocacy</p>
                </div>
            </li> 

        </ul>

    </section>                          

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-523">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">About Benjie Lindo</h2>
                <p class="cs-text">
                    Benjie Lindo is a marketing expert and community leader, focused on helping businesses grow through tailored brand strategies and digital marketing. As the founder of <strong>Yakap Alberta Foundation</strong>, he supports newcomers and community initiatives in Alberta while giving back through impactful charitable programs like his <strong>“Adopt a Child”</strong> initiative in the Philippines.
                </p>
                <p class="cs-text">
                    <em>❝I can help increase your client base and effectively advertise your business.❞</em>
                </p>
                <a href="/about/" class="cs-button-solid">Know More About Benjie</a>
            </div>
            <div class="cs-image-group">
                <!--Large Image-->
                <picture class="cs-picture cs-picture-large">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brochures.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brochures.webp" alt="lab" width="334" height="380">
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Promotions                  -->
    <!-- ============================================ -->

        {% if  promotions.length | length == 0 %}
        {# if there is no image in the promotion folder we will not display anything #}
        <p style="display:none">No Recent Posts</p>

            {% else %}
        <section id="gallery-380">
            <div class="cs-container">
                <div class="cs-content">
                    <span class="cs-topper">Get To Know</span>
                    <h2 class="cs-title">Benjie's Current Promotions</h2>
                </div>

                    {% include "components/promotion-gallery.html" %}

                <a href="tel:1-780-885-2698"" class="cs-button-solid">Avail These Promos Now</a>
            </div>
        </section>                          
            {% endif %}
    

    <!-- ============================================ -->
    <!--                   Brands                    -->
    <!-- ============================================ -->

        <section id="gallery-45">
            <div class="cs-container">
                <div class="cs-content">
                    <span class="cs-topper">Explore</span>
                    <h2 class="cs-title">Brand Partners</h2>
                    <p class="cs-text">
                        Reach more customers and grow your brand with targeted advertising that delivers impact.
                    </p>
                </div>
                <div class="cs-carousel-wrapper">
                    <!-- Navigation buttons -->
                    <button class="cs-carousel-nav cs-prev" aria-label="Previous brands">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M15 18l-6-6 6-6"></path></svg>
                    </button>
                    
                    <!-- The carousel container -->
                    <ul class="cs-image-group">
                        <li class="cs-item">
                            <a href="tel:1-780-885-2698">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/mnh-logo.webp">
                                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/mnh-logo.webp">
                                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/mnh-logo.webp" alt="MNH" width="346" height="346">
                                </picture>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a href="tel:1-780-885-2698">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp">
                                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp">
                                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/beyond-vision-logo.webp" alt="Beyon Vision" width="346" height="346">
                                </picture>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a href="tel:1-780-885-2698">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp">
                                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp">
                                    <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/maya-dental-logo.webp" alt="Maya Dental Logo" width="346" height="346">
                                </picture>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a href="tel:1-780-885-2698">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/experior.webp">
                                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/experior.webp">
                                    <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/experior.webp" alt="Experior" width="346" height="346">
                                </picture>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a href="tel:1-780-885-2698">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp">
                                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp">
                                    <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/deep-sleep-logo.webp" alt="Deep Sleep" width="346" height="346">
                                </picture>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a href="tel:1-780-885-2698">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp">
                                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp">
                                    <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/infinite-graphics-logo.webp" alt="Inifinte Graphics" width="346" height="346">
                                </picture>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a href="tel:1-780-885-2698">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/umac-logo.webp">
                                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/umac-logo.webp">
                                    <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/umac-logo.webp" alt="UMAC" width="346" height="346">
                                </picture>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a href="tel:1-780-885-2698">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/maxwell-logo.webp">
                                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/maxwell-logo.webp">
                                    <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/maxwell-logo.webp" alt="Maxwell" width="346" height="346">
                                </picture>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a href="tel:1-780-885-2698">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp">
                                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp">
                                    <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/campbell-college-logo.webp" alt="Campbell College" width="346" height="346">
                                </picture>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a href="tel:1-780-885-2698">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/goCanada-logo.webp">
                                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/goCanada-logo.webp">
                                    <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/goCanada-logo.webp" alt="GoCanada" width="346" height="346">
                                </picture>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a href="tel:1-780-885-2698">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp">
                                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp">
                                    <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/MK-car-klinic-logo.webp" alt="MK Car" width="346" height="346">
                                </picture>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a href="tel:1-780-885-2698">
                                <picture class="cs-picture">
                                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/brands/bespoke_logo.png">
                                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/brands/bespoke_logo.png">
                                    <img aria-hidden="true" loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/brands/bespoke_logo.png" alt="BEspoke Web Design" width="346" height="346">
                                </picture>
                            </a>
                        </li>
                    </ul>

                    <button class="cs-carousel-nav cs-next" aria-label="Next brands">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M9 18l6-6-6-6"></path></svg>
                    </button>


                </div>
                <a href="tel:1-780-885-2698" class="cs-button-solid">Call Kuya Benjie Now</a>
            </div>
        </section>



    <!-- ============================================ -->
    <!--                Other Services                -->
    <!-- ============================================ -->

    <section id="sbsr-1309" class="cs-section-breaker">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Floating Box-->
                <div class="cs-box">
                    <span class="cs-desc">Reach Out to Kuya Benjie</span>
                </div>
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/benjie-kitchen.webp">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/benjie-kitchen.webp"">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/benjie-kitchen.webp"" alt="meeting" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">How Can We Help</span>
                <h2 class="cs-title">Other Services</h2>
                <p class="cs-text"><strong>Sasakyang Hanap Mo / Cash Back</strong> - Toyota, Subaru, Honda, Hyundai, Jeep, Ford</p>
                <p class="cs-text"><strong> Website Design for Small Businesses</strong>  – Custom-built with a blog, logo, and full brand identity. Refer a brand or a business and get $100!
                    <br>
                        <strong>Call 780-885-2698 </strong>for details</p>
                  
                
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                      FAQ                     -->
    <!-- ============================================ -->

    <section id="faq-1582">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">FAQ</span>
                <h2 class="cs-title">Frequently Asked Questions</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">1. What types of brands do you work with?</h3>
                        <p class="cs-item-text">
                            I collaborate with brands that align with my values and my audience's interests, including those in industries like finance, loans, automotive, education, fashion, food, lifestyle and more.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">2. How can your platform help promote my business?</h3>
                        <p class="cs-item-text">
                            I create authentic and engaging content that connects with my audience, helping businesses gain exposure, build trust, and boost sales.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">3. What kind of content do you create?</h3>
                        <p class="cs-item-text">
                            I specialize in high-quality posts, stories, reels, and videos that are tailored to showcase your brand in a way that resonates with my audience.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">4. Can you share insights into the success of a campaign?</h3>
                        <p class="cs-item-text">
                            Yes, I provide detailed feedback on the campaign's performance, including engagement levels and audience responses, to ensure we’re meeting your goals.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">5. How can I book a collaboration with you?</h3>
                        <p class="cs-item-text">
                            It’s simple! Reach out to me by phone <a href="tel:780-885-2698">(780-885-2698)</a> and let’s discuss how we can work together to achieve your goals.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

<!-- ============================================ -->
<!--                Three Cards                   -->
<!-- ============================================ -->

    {% if collections.post | length == 0 %}
    {# if there is no post we will not show this section #}
    <p style="display:none">No Recent Posts</p>

    {% else %}
        <section id="three-cards">
            <div class="cs-container">
                <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Exclusive Articles</span>
                    <h2 class="cs-title">Latest News</h2>
                </div>
                </div>
                {% include "components/latest-blog-card.html" %}
            </div>
        </section>

    {% endif %}

    {% include "components/cta.html" %}

{% endblock %}
